<app-header (newItemEvent)="changeActive($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-8">
      <input *ngIf="active == 'Vehiculos'" class="form-control mt-2" type="text" placeholder="Buscar por placa"
        (change)="changeCount = changeCount + 1" (keyup)="applyFilter($event)">
      <input *ngIf="active == 'Personas'" class="form-control mt-2" type="text" placeholder="Buscar por Nombre"
        (change)="changeCount = changeCount + 1" (keyup)="applyFilter($event)">
    </div>
    <div class="col-4">
      <button  *ngIf="active == 'Vehiculos'" class="btn btn-success w-100 mt-2" (click)="open(formCreateAuto,null, 'VehiculosAbrir')">Agregar Nuevo</button>
      <button  *ngIf="active == 'Personas'" class="btn btn-success w-100 mt-2" (click)="open(formCreatePersona,null, 'Personas')">Agregar Nuevo</button>
    </div>
  </div>
 
  <div class="row" *ngIf="active == 'Vehiculos'">
    <div class="col-12">
      <ng-lottie [options]="options" height="400px"></ng-lottie>
    </div>
    <div class="col" *ngIf="cars.length == 0">
      <h2 class="text-center">No se encontro placas con {{searchText}}</h2>
    </div>
    <div class="col text-center" *ngFor="let car of cars">

      <div class="card text-center p-0 mx-auto" style="width: 18rem;" (click)="open(content,car,'Vehiculos')">
        <div class="card-body p-0 ">
          <div class="col p-2">
            <h5 class="card-title mb-0" style="background-color: yellow;">{{car.vehiculo.placa}}<br><small>Bogotá
                D.C</small>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="active == 'Personas'">
    <div class="col-12">
      <ng-lottie [options]="options2" height="400px"></ng-lottie>
    </div>
    <div class="col" *ngIf="persons.length == 0">
      <h2 class="text-center">No se encontro personas con {{searchText}}</h2>
    </div>
    <div class="col text-center" *ngFor="let person of persons">
      <div class="card text-center p-0 mx-auto" style="width: 18rem;" (click)="open(personModal,person,'Personas')">
        <div class="card-body p-0 ">
          <h5 class="card-title mb-0" style="background-color: yellow;">{{person.primer_nombre}}
            {{person.segundo_nombre}}<br><small>{{person.ciudad}}</small></h5>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">PLACA: {{activeCar.vehiculo.placa}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth"><b>Vehiculo</b></label>
      </div>
      <div class="form-group ml-2">
        <label for="dateOfBirth">Tipo</label>
        <div class="input-group">
          <input disabled class="form-control" value="{{activeCar.vehiculo.tipo}}">
        </div>
      </div>
      <div class="form-group ml-2">
        <label for="dateOfBirth">Color</label>
        <div class="input-group">
          <input disabled class="form-control" value="{{activeCar.vehiculo.color}}">
        </div>
      </div>
      <div class="form-group ml-2">
        <label for="dateOfBirth">Marca</label>
        <div class="input-group">
          <input disabled class="form-control" value="{{activeCar.vehiculo.marca}}">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth"><b>DUEÑO</b></label>
      </div>
      <div class="form-group ml-2">
        <label for="dateOfBirth">Nombres</label>
        <div class="input-group">
          <input disabled class="form-control"
            value="{{activeCar.dueno.primer_nombre}} {{activeCar.dueno.segundo_nombre}}">
        </div>
      </div>
      <div class="form-group ml-2">
        <label for="dateOfBirth">Cedula</label>
        <div class="input-group">
          <input disabled class="form-control" value="{{activeCar.dueno.cedula}}">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth"><b>CONDUCTOR</b></label>
      </div>
      <div *ngIf="activeCar.conductor" class="form-group ml-2">
        <label for="dateOfBirth">Nombres</label>
        <div class="input-group">
          <input disabled class="form-control"
            value="{{activeCar.conductor.primer_nombre}} {{activeCar.conductor.segundo_nombre}}">
        </div>
      </div>
      <div *ngIf="activeCar.conductor" class="form-group ml-2">
        <label for="dateOfBirth">Cedula</label>
        <div class="input-group">
          <input disabled class="form-control" value="{{activeCar.conductor.cedula}}">
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #personModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{activePerson.primer_nombre}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nombres</label>
        <div class="input-group">
          <input disabled class="form-control" placeholder="nombres"
            value="{{activePerson.primer_nombre}}{{activePerson.segundo_nombre}}">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Apellidos</label>
        <div class="input-group">
          <input disabled class="form-control" placeholder="apellidos" value="{{activePerson.apellidos}}">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Cedula</label>
        <div class="input-group">
          <input disabled class="form-control" placeholder="cedula" value="{{activePerson.cedula}}">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Email</label>
        <div class="input-group">
          <input disabled class="form-control" placeholder="cedula" value="{{activePerson.email}}">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Dirección</label>
        <div class="input-group">
          <input disabled class="form-control" placeholder="direccion" value="{{activePerson.direccion}}">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Telefono</label>
        <div class="input-group">
          <input disabled class="form-control" placeholder="telefono" value="{{activePerson.telefono}}">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Ciudad</label>
        <div class="input-group">
          <input disabled class="form-control" placeholder="ciudad" value="{{activePerson.ciudad}}">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Rol</label>
        <div class="input-group">
          <input disabled class="form-control" placeholder="ciudad" value="{{activePerson.rol}}">
        </div>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Vehiculo</label>
        <div class="input-group">
          <input disabled class="form-control" placeholder="ciudad" value="{{activePerson.placa}}">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Vehiculo tipo</label>
        <div class="input-group">
          <input disabled class="form-control" placeholder="ciudad" value="{{activePerson.tipo}}">
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #formCreateAuto let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuevo Vehiculo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="crearVehiculo" (ngSubmit)="crearVehiculoFunction()">
      <div class="form-group">
        <label for="dateOfBirth">Placa</label>
        <div class="input-group">
          <input [(ngModel)]="placaNew" class="form-control" formControlName="placa" placeholder="Placa"
            value="">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Color</label>
        <div class="input-group">
          <input [(ngModel)]="colorNew" class="form-control" formControlName="color" placeholder="Color" value="">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Tipo</label>
        <div class="input-group">
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="tipoNew" formControlName="tipo" placeholder="Seleccione">
            <option selected value="Particular">Particular</option>
            <option value="Publico">Publico</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Marca</label>
        <div class="input-group">
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="marcaNew" formControlName="marca" placeholder="Seleccione">
            <option *ngFor="let marca of marcas" value="{{marca.id}}">{{marca.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success w-100">Guardar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #formCreatePersona let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nueva Persona</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="crearPersona" (ngSubmit)="crearPersonaFunction()">
      <div class="form-group">
        <label for="dateOfBirth">Cedula</label>
        <div class="input-group">
          <input [(ngModel)]="cedulaNew" class="form-control" formControlName="cedula" placeholder="Cedula"
            value="">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Email</label>
        <div class="input-group">
          <input [(ngModel)]="emailNew" class="form-control" formControlName="email" placeholder="Email" value="">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Primer Nombre</label>
        <div class="input-group">
          <input [(ngModel)]="primer_nombreNew" class="form-control" formControlName="primer_nombre" placeholder="Primer Nombre" value="">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Segundo Nombre</label>
        <div class="input-group">
          <input [(ngModel)]="segundo_nombreNew" class="form-control" formControlName="segundo_nombre" placeholder="Segundo Nombre" value="">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Apellidos</label>
        <div class="input-group">
          <input [(ngModel)]="apellidosNew" class="form-control" formControlName="apellidos" placeholder="Apellidos" value="">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Direccion</label>
        <div class="input-group">
          <input [(ngModel)]="direccionNew" class="form-control" formControlName="direccion" placeholder="Direccion" value="">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Telefono</label>
        <div class="input-group">
          <input [(ngModel)]="telefonoNew" class="form-control" formControlName="telefono" placeholder="Telefono" value="">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Rol</label>
        <div class="input-group">
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="rols_idNew" formControlName="rols_id" placeholder="Seleccione">
            <option selected value="1">Propietario</option>
            <option value="2">Conductor</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Vehiculo ( PLACA )</label>
        <div class="input-group">
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="vehiculoNew" formControlName="vehiculo" placeholder="Seleccione">
            <option *ngFor="let car of carsAll" value="{{car.vehiculo.id}}">{{car.vehiculo.placa}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Ciudad</label>
        <div class="input-group">
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="ciudad_idNew" formControlName="ciudad_id" placeholder="Seleccione">
            <option *ngFor="let city of cities" value="{{city.id}}">{{city.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success w-100">Guardar</button>
      </div>
    </form>
  </div>
</ng-template>