.card 
    border: 1px solid lightgray
    border-radius: 20px
    padding: 18px
    margin:15px
    &:hover
            cursor: pointer
            box-shadow: grey 6px 5px 1px
.card-img
        border-radius: 19px 19px 0px 0px
.card-title
    background: rgb(255,189,32)
    background: linear-gradient(90deg, rgba(255,189,32,0.9920343137254902) 55%, rgba(228,255,0,1) 100%)
    border-radius: 10px 10px 10px 10px
    padding: 20px
    border:3px solid
    text-transform: uppercase
    